.container{
    width: 90%;
    max-width:500px;
    margin:30px auto;
}
.title-color{
    color:$Slate-900;
    font-weight: 700;
}

.input-outline{
    border: 1px solid $Slate-700;
    border-radius: $borderRadius;
    overflow: hidden;
}

.check-field{
    padding: 10px;
    margin-block-end: 10px;
    
    label{
        margin-inline-start: 5px;
        display: inline-block;
        width: 85%;
    }
}

.check-field input[type="radio"]{
    appearance: none;

    width: 16px;
    height: 16px;
    border-radius: 50%;

    border: 2px solid hsla(61,70%,52%,0.7);
}

.check-field input[type="radio"]:checked{
    border: 0;
    background-color: hsla(61,70%,52%,0.7);
    outline-offset: 5px;
    outline: 2px solid hsla(61,70%,52%,0.7);
    margin-inline-end:10px ;

    transition: margin 0.5s;
}



.check-field:hover{
    cursor: pointer;
    border-color: $primary-lime;
    transition: 0.5s;
}
.text-center{
    text-align: center;
}

// toggleBackgroundColor

.typeCheckedColor{
    background-color: hsla(61, 75%, 72%, 0.882);
}

.error-border{
    border-color: $primary-red;
}

.error-bg{
    background-color: $primary-red;
    color: $white;
}
.error{
    margin-block-start: 10px;
    font-weight: 500;
    color: $primary-red;
}

.lime-text{
    color: $primary-lime;
}
.white-text{
    color: $white;
}